@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: 'Ruberoid';
    src: url('Ruberoid-Bold.eot');
    src: local('Ruberoid Bold'), local('Ruberoid-Bold'),
        url('Ruberoid-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Ruberoid';
    src: url('Ruberoid-Medium.eot');
    src: local('Ruberoid Medium'), local('Ruberoid-Medium'),
        url('Ruberoid-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Ruberoid';
    src: url('Ruberoid-Regular.eot');
    src: local('Ruberoid'), local('Ruberoid-Regular'),
        url('Ruberoid-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ruberoid Semi';
    src: url('Ruberoid-SemiBold.eot');
    src: local('Ruberoid Semi Bold'), local('Ruberoid-SemiBold'),
        url('Ruberoid-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

/* Unbounded */
@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Medium.eot');
    src: local('Unbounded Medium'), local('Unbounded-Medium'),
        url('Unbounded-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Regular.eot');
    src: local('Unbounded Regular'), local('Unbounded-Regular'),
        url('Unbounded-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
