.btn-main {
    margin-block-start: auto;
    
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    border-radius: 30px;
    padding: 14px 52px;
    width: fit-content;
    transition: all .3s;

    @media(max-width: $breakpoint768) {
        font-size: 16px; 
        padding: 9px 32px;
    }

    &--blue {
        color: $main-color;
        border: 2px solid $main-color;

        &:hover {
            background: $main-color;
            color: #fff;
        }
    }
    &--white {
        color: #fff;
        border: 2px solid #fff;

        &:hover {
            background: #fff;
            color: $main-color;
        }
    }

    &--mobile {
        display: none;
    }
}

@container hero (max-width: 1272px) {
    .btn-main--desktop {
        display: none;
    }
    .btn-main--mobile {
        display: flex;
        margin: 0 auto;
    }
}