.card {
    display: flex;
    flex-direction: column;

    &__bottom {
        margin-top: -48px;

        &-name {
            font-weight: 700;
            font-size: 32px;
            letter-spacing: 0.04em;
            text-align: center;
            color: #f9f9f9;
        }
        &-text {
            margin-top: 20px;
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 0.04em;
            text-align: center;
            color: #f9f9f9;
        }
    }
}