.contacts {
    padding: 200px 0 110px;
    
    @media(max-width: $breakpoint1024) {
        padding: 66px 0 25px;
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        width: 379px;
        height: 597px;

        background-image: url(../assets/img/bg/contacts-bg.png);
        background-repeat: no-repeat;
        background-position: 100% 50%;
        background-size: contain;

        @media(max-width: $breakpoint1024) {
            width: 250px;
        }
        @media(max-width: $breakpoint768) {
            top: 200px;

            width: 98px;
            height: 162px;
        }
        @media(max-width: $breakpoint480) {
            top: 220px;
        }
        @media(max-width: $breakpoint375) {
            top: 240px;
            width: 80px;
        }

        &:hover {
            background-image: url(../assets/img/bg/contacts-bg-active.png);
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
           
        &-title {
            font-family: $font-family-ruberoid;

            font-weight: 600;
            font-size: 48px;
            letter-spacing: 0.04em;
            color: #fff;

            @media(max-width: $breakpoint1024) {
                color: #fff;
            }
            @media(max-width: $breakpoint768) {
                font-size: 24px;
            }
        }
        &-subtitle {
            margin:  24px 0 38px;
            font-weight: 600;
            font-size: 32px;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;

            @media(max-width: $breakpoint1024) {
                margin: 18px 0 30px;
                color: #fff;
            }
            @media(max-width: $breakpoint768) {
                margin: 12px 0 26px;
                font-size: 20px;
            }
        }
    }
    &__bottom {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @media(max-width: $breakpoint768) {
            margin-top: 70px;
        }

        &-title {
            font-family: $font-family-ruberoid;

            font-weight: 600;
            font-size: 48px;
            letter-spacing: 0.04em;
            color: #fff;

            @media(max-width: $breakpoint1024) {
                color: #fff;
            }
            @media(max-width: $breakpoint768) {
                font-size: 24px;
            }
        }
    }
    &__wrapper {
        margin-top: 60px;
        max-width: 830px;
        width: inherit;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 38px;

        @media(max-width: $breakpoint1024) {
            margin-top: 40px;
        }
        @media(max-width: $breakpoint768) {
            margin-top: 26px;
            gap: 18px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 34px;
        border: 2px solid #3751a8;
        border-radius: 30px;
        background: #f9f9f9;

        @media(max-width: $breakpoint768) {
            padding: 18px;
        }

        &:nth-of-type(1) {
            & .contacts__item-icon {
                stroke: #3751A8;
                height: 43px;
            }
        }
        &:nth-of-type(2) {
            & .contacts__item-icon {
                fill: #3751A8;
                height: 43px;
            }
        }

        &-text {
            margin-top: 22px;

            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: #3a3a3a;
        }
        &-link {
            margin-top: 6px;

            font-weight: 700;
            font-size: 24px;
            line-height: 130%;
            color: #3751a8;
        }
    }
}