.footer {
    padding: 25px 0 28px;

    &__logo {
        @media(max-width: $breakpoint768) {
            max-width: 172px;
        }
    }
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            font-family: var(--second-family);

            font-weight: 600;
            font-size: 48px;
            line-height: 130%;
            color: #091c5a;

            @media(max-width: $breakpoint1024) {
                font-size: 32px;
            }
            @media(max-width: $breakpoint768) {
                font-size: 24px;
            }
        }
    }
    &__wrapper {
        margin-top: 32px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: $breakpoint768) {
            margin-top: 26px;
            flex-direction: column;
            align-items: start;
        }

        &-top {
            @media(max-width: $breakpoint768) {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    &__bottom {
        margin-top: 56px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 56px;

        @media(max-width: $breakpoint768) {
            flex-direction: column;
            gap: 18px;
        }
    }
    &__copyright {
        font-weight: 600;
        font-size: 14px;
        color: #091c5a;

        @media(max-width: $breakpoint768) {
            font-size: 12px;
        }
    }
}