.footer {
    padding: 40px 0 20px;

    @media(max-width: $breakpoint768) {
        padding: 24px 0;
    }

    &__logo {
        @media(max-width: $breakpoint768) {
            max-width: 172px;
        }
    }
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            font-family: $font-family-ruberoid;

            font-weight: 600;
            font-size: 48px;
            line-height: 130%;
            color: #091c5a;

            @media(max-width: $breakpoint1024) {
                font-size: 32px;
            }
            @media(max-width: $breakpoint768) {
                font-size: 24px;
            }
        }
    }
    &__wrapper {
        margin-top: 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: $breakpoint768) {
            margin-top: 26px;
            flex-direction: column;
            align-items: start;
        }

        &-top {
            @media(max-width: $breakpoint768) {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    &__bottom {
        margin-top: 56px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 56px;

        @media(max-width: $breakpoint768) {
            margin-top: 30px;
            flex-direction: column;
            gap: 18px;
        }
    }
    &__copyright {
        font-family: $font-family-unbounded;

        font-weight: 400;
        font-size: 14px;
        color: #091c5a;

        @media(max-width: $breakpoint768) {
            font-size: 12px;
        }
    }

    &__dev {
        & svg g {
            & path {
                transition: all .3s;
                
                &:is(:nth-of-type(1), :nth-of-type(2)) {
                    stroke: #091C5A;
                }
                &:not(:nth-of-type(1), :nth-of-type(2)) {
                    fill: #091C5A;
                }
            }
        }

        &:hover {
            & svg g {
                & path {
                    &:is(:nth-of-type(1), :nth-of-type(2)) {
                        stroke: #009DC0;
                    }
                    &:not(:nth-of-type(1), :nth-of-type(2)) {
                        fill: #009DC0;
                    }
                }
            }
        }
    }
}