.header {
    position: relative;
    background: #fff;

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 29px;
        z-index: 2;

        @media(max-width: $breakpoint768) {
            padding-top: 24px;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    &__mail {

    }
    &__phone {

    }
}

.logo {
    @media(max-width: $breakpoint768) {
        width: 170px;
    }
}
