.section {

    &-blue {
        background: $main-color;
    }
    &-events {
        margin-top: 140px;

        @media(max-width: $breakpoint1024) {
            margin-top: 120px;
        }
        @media(max-width: $breakpoint768) {
            margin-top: 80px;
        }
    }
    &-contacts {
        @media(max-width: $breakpoint1024) {
            background: #fff;
        }
    }
}
