.swiper-place {
    position: relative;

    &__slide {

        &-img {
            width: 100%;
        }
    }

    &-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;

        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #3751a8;

        display: flex;
        justify-content: center;
        align-items: center;

        & svg {
            stroke: #fff;
        }

        &--prev {
            left: 0;
        }
        &--next {
            right: 0;
        }

        &.swiper-button-disabled {
            background: rgba(55, 81, 168, 0.67);

            & svg {
                opacity: .7;
            }
        }
    }
}