// color
$main-color: #091C5A;
$accent-color: #FF0000;

// breakpoint 
$breakpoint1550: 1550 + px;
$breakpoint1280: 1280 + px;
$breakpoint1024: 1024 + px;
$breakpoint768: 768 + px;
$breakpoint480: 480 + px;
$breakpoint375: 375 + px;

// font-family
$font-family: '';

// border-radius
$main-radius: 35px;

// container
$container-width: 1550px;
$section-top: 100px;
$padding-md: 24px;
$padding-sm: 16px;
